{erl_opts, [
  debug_info,
  {parse_transform, lager_transform}
]}.

{deps, [
  {'erlang-rfc4627', {git, "git://github.com/marutha/erlang-rfc4627.git", {ref, "3b6a206ad7f7f4350201b709c3104fd5a65460f8"}}},
  {cowboy, {git, "git://github.com/ninenines/cowboy.git", {tag, "2.2.2"}}},
  {lager, {git, "git://github.com/erlang-lager/lager.git", {tag, "3.6.1"}}},
  {jsx, {git, "https://github.com/talentdeficit/jsx.git", {tag, "2.9.0"}}},
  {laser_tcp_jsonrpc, {git, "x", {tag, "0.0.1"}}}
]}.

{plugins, [
]}.

{relx, [{release, { erlang_laser, "0.1.0" },
         [
          lager,
          erlang_laser,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
